  ## כיבוי שקע תמי4 ##
  - id: Turn_off_Tami_4_in_Night
    initial_state: 'on'  
    alias: 'Turn Off Tami 4 In Night'
    trigger:
      platform: time
      at: '22:00:00'
    condition:
    action:
    - data:
        entity_id: switch.blitzwolf_shp1
      service: switch.turn_off
      
  - id: Turn_on_Tami_4_in_Mornning
    initial_state: 'on'  
    alias: 'Turn On Tami 4 In Mornning'
    trigger:
      platform: time
      at: '05:45:00'
    condition:
    action:
    - data:
        entity_id: switch.blitzwolf_shp1
      service: switch.turn_on

  - id: Auto_off_Tami_4_in_Night
    initial_state: 'on'  
    alias: 'Auto Off Tami 4 In Night'
    trigger:
      - entity_id: switch.service_out_light
        from: 'off'
        platform: state
        to: 'on'
    condition:
      condition: time
      after: '00:00:00'
      before: '05:00:00'
    action:
    - service: timer.start
      entity_id: timer.tami4
      
  - alias: Tami_4_Timerstop
    initial_state: 'on'  
    id: 'Tami 4 Timerstop'
    trigger: 
    - platform: event
      event_type: timer.finished
      event_data: 
        entity_id: timer.tami4
    action:
    - data:
        entity_id: switch.blitzwolf_shp1
      service: switch.turn_off            

#################################################################
#                                                               #
#                  Turn off - Yakir TV Card                     #
#                                                               #
#################################################################

  - id: Turn_off_yakir_tv_in_Night
    initial_state: 'on'  
    alias: 'turn Off yakir tv in night'
    trigger:
      platform: time
      at: '00:30:00'      
    condition:
    action:
    - data:
        entity_id: switch.yakir_tv
      service: switch.turn_off

#################################################################
#                                                               #
#                  Turn on  - Yakir TV Card                     #
#                                                               #
#################################################################      

  - id: Turn_on_yakir_tv_in_Mornning
    initial_state: 'on'  
    alias: 'Turn on yakir in Mornning'
    trigger:
      platform: time
      at: '05:45:00'
    condition:
    action:
    - data:
        entity_id: switch.yakir_tv
      service: switch.turn_on