###################################################
#                                                 #
#     Home Assistant Main Configuration File      #
#                                                 #
###################################################

homeassistant:
  name: !secret name
  temperature_unit: C
  time_zone: !secret timezone
  latitude: !secret latitude
  longitude: !secret longitude
  unit_system: metric
  elevation: 169
  packages: !include_dir_named packages
  # customize_glob: !include config/customize_glob.yaml
  customize: !include config/customize.yaml
  auth_providers:
   - type: homeassistant
   - type: legacy_api_password  
  whitelist_external_dirs:
    - /config
    - /config/tmp
    - /config/backup/hass


  
###################################################
#                                                 #
#                     Panel                       #
#                                                 #
################################################### 

panel_iframe:
  tasmoadmin:
    title: 'TasmoAdmin'
    url: 'http://ip:port'
    icon: mdi:lightbulb-on

####################################################
#                                                  #
#                     Enables                      #
#                                                  #
####################################################

config:

http:
  api_password: !secret http_password
  ip_ban_enabled: True
  login_attempts_threshold: 5
  use_x_forwarded_for: True
  trusted_proxies:
  - 127.0.0.1 
  - 172.17.0.3

updater:
discovery:
conversation:
history:
logbook:
ffmpeg:
map:
sun:
custom_updater:
ios:
homekit:
tts:
  - platform: google

####################################################
#                                                  #
#                 Customizations                   #
#                                                  #
####################################################

#customizer:
#  custom_ui: local

frontend:
  javascript_version: latest
  extra_html_url:
   - /local/custom_ui/state-card-custom-ui.html
   # - https://raw.githubusercontent.com/andrey-git/home-assistant-custom-ui/master/state-card-custom-ui.html
  extra_html_url_es5:
   - /local/custom_ui/state-card-custom-ui-es5.html
   # - https://raw.githubusercontent.com/andrey-git/home-assistant-custom-ui/master/state-card-custom-ui-es5.html
  

####################################################
#                                                  #
#                 Logger - קובץ לוג                #
#                                                  #
####################################################

logger:
  default: warn
    
####################################################
#                                                  #
#                     Recorder                     #
#                                                  #
####################################################

recorder:
  purge_keep_days: 3
  purge_interval: 1
  exclude:
    entities:
    - sensor.last_boot
    - sensor.internet_time
    - sensor.disk_use_percent_home
    - group.netdata_sensor
    - group.speedtest_sensor
    - group.weather_sensor
    - sun.sun

####################################################
#                                                  #
#                      Cloud                       #
#                                                  #
####################################################

cloud: !include config/cloud.yaml

####################################################
#                                                  #
#                      owntracks                   #
#                                                  #
####################################################

owntracks:

####################################################
#                                                  #
#                      MQTT                        #
#                                                  #
####################################################

mqtt: 
  username: !secret http_username
  password: !secret http_password


####################################################
#                                                  #
#                      xiaomi                      #
#                                                  #
####################################################
xiaomi_aqara:
  discovery_retry: 10
  gateways:
    - key: !secret xiaomi

vacuum:
  - platform: xiaomi_miio
    host: ip
    token: !secret xiaomirobot  


####################################################
#                                                  #
#                      yweather                    #
#                                                  #
####################################################                                                

weather:
  - platform: yweather
    woeid: 1111999  

####################################################
#                                                  #
#                      google                      #
#                                                  #
####################################################

google:
  client_id: !secret client_id
  client_secret: !secret client_secret 


####################################################
#                                                  #
#                    Telegram Bot                  #
#                                                  #
#################################################### 

telegram_bot:
  - platform: polling
    api_key: !secret TelegramBotApiKey
    allowed_chat_ids:
      - !secret TelegramChatIDNum1   
  
####################################################
#                                                  #
#                    Includes                      #
#                                                  #
####################################################

automation: !include_dir_merge_list config/automation/
group: !include config/groups.yaml
script: !include config/scripts.yaml
media_player: !include config/media_players.yaml
device_tracker: !include config/device_tracker.yaml
shell_command: !include config/shell_command.yaml
sensor: !include config/sensors.yaml
notify: !include config/notify.yaml
switch: !include config/switchs.yaml
weblink: !include config/weblink.yaml
cloudflare: !include config/cloudflare.yaml
cover: !include config/cover.yaml
zone: !include config/zone.yaml
timer: !include config/timer.yaml